.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_galleries_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_gallery_path
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Galleries
    .inner
      %table.table
        %tr
          %th
            = t("activerecord.attributes.admin_gallery.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            = t("activerecord.attributes.admin_photo.position", :default => t("activerecord.labels.position", :default => "Position"))
          %th
            = t("activerecord.attributes.admin_gallery.featured", :default => t("activerecord.labels.featured", :default => "Featured"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @galleries.each do |gallery|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to gallery.name, admin_gallery_path(gallery)
            %td
              = link_to(image_tag('go-down.png', :alt => 'Move lower', :title => 'Move lower'), move_lower_admin_gallery_path(gallery), :method => :put) unless gallery.last?
              = link_to(image_tag('go-up.png', :alt => 'Move higher', :title => 'Move higher'), move_higher_admin_gallery_path(gallery), :method => :put) unless gallery.first?
            %td
              = gallery.featured ? 'Yes' : ''
            %td
              = gallery.created_at
            %td.last
              = link_to "Photos", admin_gallery_photos_path(gallery)
              |
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_gallery_path(gallery)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_gallery_path(gallery)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_gallery_path(gallery), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        -#= will_paginate @galleries
- content_for :sidebar, render(:partial => 'sidebar')
