.block
  .secondary-navigation
    %ul.wat-cf
      %li.first= link_to "#{t("web-app-theme.list", :default => "List")}", admin_galleries_path
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_gallery_path
      %li.active= link_to "#{t("web-app-theme.show", :default => "Show")}", admin_gallery_path
  .content
    .inner
      %p
        %b
          = t("activerecord.attributes.admin_gallery.user_id", :default => t("activerecord.labels.user_id", :default => "User"))
          \:
        = @gallery.user.try(:email)
      %p
        %b
          = t("activerecord.attributes.admin_gallery.name", :default => t("activerecord.labels.name", :default => "Name"))
          \:
        = @gallery.name
      %p
        %b
          = t("activerecord.attributes.admin_gallery.name_en", :default => t("activerecord.labels.name_en", :default => "Name En"))
          \:
        = @gallery.name_en
      %p
        %b
          = t("activerecord.attributes.admin_gallery.description", :default => t("activerecord.labels.description", :default => "Description"))
          \:
        = @gallery.description
      %p
        %b
          = t("activerecord.attributes.admin_gallery.description_en", :default => t("activerecord.labels.description_en", :default => "Description En"))
          \:
        = @gallery.description_en
      %p
        %b
          = t("activerecord.attributes.admin_gallery.photos_count", :default => t("activerecord.labels.photos_count", :default => "Photos count"))
          \:
        = @gallery.photos_count
      %p
        %b
          = t("activerecord.attributes.admin_gallery.cover", :default => t("activerecord.labels.cover", :default => "Cover"))
          \:
        = image_tag @gallery.cover_url(:thumb)
      .wat-cf
        = link_to image_tag("web-app-theme/icons/application_edit.png", :alt => "#{t("web-app-theme.edit", :default=> "Edit")}") + " " + t("web-app-theme.edit", :default=> "Edit"), edit_admin_gallery_path(@gallery), :class => "button"
        = link_to image_tag("web-app-theme/icons/cross.png", :alt => "#{t("web-app-theme.delete", :default=> "Delete")}") + " " + t("web-app-theme.delete", :default => "Delete"), admin_gallery_path(@gallery), :method => "delete", :class => "button", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"
- content_for :sidebar, render(:partial => 'sidebar')
