- title(t('menu.media'))
%section.downloads
  %h2.hidden= t('global.downloads')
  %article.download.video
    %h3.title= t('downloads.video')
    %ul
      - @downloads['Video'].each do |download|
        %li= link_to download.t(:name), download.attachment_url

  %article.download.audio
    %h3.title= t('downloads.audio')
    %ul
      - @downloads['Audio'].each do |download|
        %li= link_to download.t(:name), download.attachment_url

  %article.download.interview
    %h3.title= t('downloads.interview')
    %ul
      - @downloads['Interview'].each do |download|
        %li= link_to download.t(:name), download.attachment_url

  %article.download.tabs
    %h3.title= t('downloads.tabs')
    %ul
      - @downloads['Tabs'].each do |download|
        %li= link_to download.t(:name), download.attachment_url
