%section.video
  %h2= t('downloads.video')
  %ul
    - @downloads['Video'].each do |download|
      %li= link_to download.t(:name), download.attachment_url

%section.audio
  %h2= t('downloads.audio')
  %ul
    - @downloads['Audio'].each do |download|
      %li= link_to download.t(:name), download.attachment_url

%section.interview
  %h2= t('downloads.interview')
  %ul
    - @downloads['Interview'].each do |download|
      %li= link_to download.t(:name), download.attachment_url
