.block
  .secondary-navigation
    %ul.wat-cf
      %li.first.active= link_to "#{t("web-app-theme.list", :default => "List")}", admin_release_songs_path(@release)
      %li= link_to "#{t("web-app-theme.new", :default => "New")}", new_admin_release_song_path(@release)
  .content
    %h2.title
      = t("web-app-theme.all", :default => "All")
      Songs
    .inner
      %table.table
        %tr
          %th
            = t("activerecord.attributes.admin_song.name", :default => t("activerecord.labels.name", :default => "Name"))
          %th
            = t("activerecord.attributes.admin_photo.position", :default => t("activerecord.labels.position", :default => "Position"))
          %th= t("web-app-theme.created_at", :default => "Created at")
          %th.last &nbsp;
        - @songs.each do |song|
          %tr{:class => cycle("odd", "even")}
            %td
              = link_to song.name, admin_release_song_path(@release, song)
            %td
              = link_to(image_tag('go-down.png', :alt => 'Move lower', :title => 'Move lower'), move_lower_admin_release_song_path(@release, song), :method => :put) unless song.last?
              = link_to(image_tag('go-up.png', :alt => 'Move higher', :title => 'Move higher'), move_higher_admin_release_song_path(@release, song), :method => :put) unless song.first?
            %td
              = song.created_at
            %td.last
              = link_to "#{t("web-app-theme.show", :default => "Show")}", admin_release_song_path(@release, song)
              |
              \#{link_to "#{t("web-app-theme.edit", :default => "Edit")}", edit_admin_release_song_path(@release, song)}
              |
              \#{link_to "#{t("web-app-theme.delete", :default => "Delete")}", admin_release_song_path(@release, song), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}"}
      .actions-bar.wat-cf
        .actions
        -#= will_paginate @songs
- content_for :sidebar, render(:partial => 'sidebar')
