.group
  = f.label :name, t("activerecord.attributes.release.name", :default => "Name"), :class => :label
  = f.text_field :name, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :name_en, t("activerecord.attributes.release.name_en", :default => "Name En"), :class => :label
  = f.text_field :name_en, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :description, t("activerecord.attributes.release.description", :default => "Description"), :class => :label
  = f.text_area :description, :class => 'text_area wymeditor'
  %span.description Ex: a simple text
.group
  = f.label :description_en, t("activerecord.attributes.release.description_en", :default => "Description En"), :class => :label
  = f.text_area :description_en, :class => 'text_area wymeditor'
  %span.description Ex: a simple text
.group
  = f.label :year, t("activerecord.attributes.release.year", :default => "Year"), :class => :label
  = f.number_field :year, :class => 'number_field'
  %span.description Ex: a simple text
.group
  = f.label :label, t("activerecord.attributes.release.label", :default => "Label"), :class => :label
  = f.text_field :label, :class => 'text_field'
  %span.description Ex: a simple text
.group
  = f.label :cover, t("activerecord.attributes.release.cover", :default => "Cover"), :class => :label
  = f.file_field :cover, :class => 'file_field'
  %span.description Ex: a simple text
.group.navform.wat-cf
  %button.button{:type => "submit"}
    = image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}")
    = t("web-app-theme.save", :default => "Save")
  %span.text_button_padding= t("web-app-theme.or", :default => "or")
  = link_to t("web-app-theme.cancel", :default => "Cancel"), admin_releases_path, :class => "text_button_padding link_button"
