%section.featured
  %article.promoPhotos
    %header.hidden
      %h2= t('global.featured_photos')
    .slider-wrapper.theme-default
      #slider.nivoSlider
        = image_tag "slider/1.jpg"
        = image_tag "slider/2.jpg"
        = image_tag "slider/3.jpg"
        = image_tag "slider/4.jpg"
        = image_tag "slider/5.jpg"

  %section.promoNews
    %header
      %h2.subtitleNews= t('posts.latest')
    %ul
      - @posts.each do |post|
        %li
          %article
            %header
              %h3= link_to post.t(:title), post
            %footer
              .date= post.published_at.to_s(:post)
            %p
              = truncate(strip_tags_with_space(post.t(:content)), :length => 150)
              = link_to t('posts.read_more'), post_path(post)

%section.promoSocial
  %article.promoVideo
    %h2.hidden= t('global.recent_video')
    - if @video
      = link_to image_tag('youtube-icon.png'), "http://www.youtube.com/user/sanatorium2011", :target => 'blank'
      = raw @video.t(:content)

  %article.promoTwitter
    = link_to image_tag('twitter-icon.png'), "https://twitter.com/#!/SanatoriumMK"
    %h2= t('twitter.latest')
    #tweets

- if @photos.present?
  #photos.jThumbnailScroller
    .jTscrollerContainer
      .jTscroller
        - @photos.each do |photo|
          = link_to image_tag(photo.image_url(:medium)), photo.image_url, :class => "lightbox", :rel => "lightbox"
    = link_to "", "#", :class => "jTscrollerPrevButton"
    = link_to "", "#", :class => "jTscrollerNextButton"

