- title(t('menu.home'))

#homegape
  %section.main
    %section.featured.slider
      %h2.hidden= t('global.featured')
      %article.promoPhotos
        %h3.hidden= t('global.featured_photos')
        .slider-wrapper.theme-default
          #slider.nivoSlider
            = image_tag "slider/slider1/0.jpg"
            = image_tag "slider/slider1/1.jpg"
            = image_tag "slider/slider1/2.jpg"
            = image_tag "slider/slider1/3.jpg"
            = image_tag "slider/slider1/4.jpg"
            = image_tag "slider/slider1/5.jpg"

    %section.socialMedia
      %h2.hidden= t('global.social_media')
      %article.promoVideo
        %h3.hidden= t('global.recent_video')
        - if @video
          = link_to image_tag('youtube-icon.png'), "http://www.youtube.com/user/sanatorium2011", :target => 'blank'
          = raw @video.t(:content)


  %sidebar.sidebar
    %section.promoNews
      %header
        %h3.title= t('posts.latest')
      %ul
        - @posts.each do |post|
          %li
            %article
              %header
                %h3= link_to post.t(:title), post
              %footer
                %time{:datetime => post.published_at}
                .date= post.published_at.to_s(:post)
              %p
                = truncate(strip_tags_with_space(post.t(:content)), :length => 150)
                %br
                = link_to t('posts.read_more'), post_path(post)


- if @photos.present?
  #photos.jThumbnailScroller
    .jTscrollerContainer
      .jTscroller
        - @photos.each do |photo|
          = link_to image_tag(photo.image_url(:medium)), photo.image_url, :class => "lightbox", :rel => "lightbox"
    = link_to "", "#", :class => "jTscrollerPrevButton"
    = link_to "", "#", :class => "jTscrollerNextButton"

