- title(@post.title)
-#- description(@post.description)

.posts_wrapper
  = render 'posts/post', :post => @post

  .comments
    %a{:name => "comments"}
    %h3= t('posts.comments')
    - if @post.comments.size > 0
      %ol
        = render :partial => 'comments/comment', :collection => @comments
    - else
      %p= t('posts.no_comments')

  .comment_form
    = render :partial => 'comments/form'
