%section.releases
  %h2.hidden= t('global.releases')
  %ul
    - @releases.each do |release|
      %li
        %article.release
          %header
            %h3.title
              = link_to release.name, release
              %span= "(#{release.year})"
          .cover= link_to image_tag(release.cover_url(:thumb)), release
          %footer
            %p= release.label

