- title(@release.t(:name))
%article.release
  .releaseDetails
    %header
      %h2.title
        = @release.t(:name)
        %span= "#{@release.year}, #{@release.label}"

    .cover= image_tag @release.cover_url
    %footer
      = raw @release.description
  %aside.trackList
    %h2.title= t('global.track_list')
    %ul.songs
      - @songs.each_with_index do |song, index|
        %li
          %h3
            %span= index + 1
            = song.t(:name)
          .song= raw song.t(:lyrics)
