%section.release.cover
  %h2.title
    = @release.t(:name)
    %span= "#{@release.year} #{@release.label}"

  = image_tag @release.cover_url

  = raw @release.description
%section.release.lyrics
  %ul.songs
    - @songs.each_with_index do |song, index|
      %li
        %h3
          %span= index + 1
          = song.t(:name)
        .song= raw song.t(:lyrics)
