.wrapper
  = link_to root_path do
    %h1#logo.ir Sanatorium

  #main_nav
    %nav
      %ul
        %li= link_to t('menu.news'), posts_path
        %li= link_to t('menu.band'), band_path
        %li= link_to t('menu.photos'), "#"
        %li= link_to t('menu.media'), "#"
        %li= link_to t('menu.releases'), "#"
        %li= mail_to 'sanatorium@sanatorium.com.mk', t('menu.contact')
        - if I18n.locale == :en
          %li.lang= link_to image_tag('mk.jpg'), "?lang=mk", :title => "Преведи на Македонски"
        - else
          %li.lang= link_to image_tag('en.jpg'), "?lang=en", :title => "Translate to English"
