.wrapper
  = link_to "/#{I18n.locale}.html" do
    %h1#logo.ir Sanatorium


  #main_nav
    %h2.hidden= t('global.main_navigation')
    - if I18n.locale == :en
      .lang= link_to image_tag('mk.jpg'), '/mk.html', {:title => "Преведи на Македонски"}
    - else
      .lang= link_to image_tag('en.jpg'), '/en.html', {:title => "Translate to English"}

    %nav
      %ul
        %li= link_to t('menu.news'), posts_path
        %li= link_to t('menu.band'), band_path
        %li= link_to t('menu.photos'), galleries_path
        %li= link_to t('menu.media'), downloads_path
        %li= link_to t('menu.releases'), releases_path
        %li= mail_to 'sanatorium@sanatorium.com.mk', t('menu.contact')
